# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ponomarev_projects_git\myPhoneMusic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
